.formwrapper {
	width: 1200px;
	background: lightgreen;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formwrapper h1 {
	margin: 20px 0 40px 0;
}

.formgroup {
	width: 400px;
	display: flex;
	justify-content: space-between;
}

input {
	border: 1px solid #000000;
}

input, label, textarea {
	margin: 5px 10px 5px 10px;
	resize: none;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
}

.submit {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 10px 0;
}

.registreren {
	margin: 0 0 10px 0;
}

.geboortedatum {
	display: flex;
	justify-content: space-between;
}

.geboortedatum input {
	width: 28px;
}

.geslacht {
	width: 170px;
}