* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*===== BASIC LAY-OUT ========================= */

body {
	font-family: arial;
}

.pagewrapper {
	width: 1200px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	text-shadow: 50px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 15px;
}
/*===== TEMPLATE pages ========================= */

/* header */

header {
	margin-bottom: 20px;
}

header .logo {
	padding-left: 5px;
}

header .logo img {
	height: 100px;
}

header section {
	display: flex;
	justify-content: space-around;
	height: 100px;
	background: #E9FFC9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E9FFC9, #ABFF33); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E9FFC9, #ABFF33); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E9FFC9, #ABFF33); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E9FFC9, #ABFF33); /* Standard syntax */
}

header section p {
	font-size: 20px;
	color: gray;
	margin-top: 10px;
}

/* navigation bar */

header nav ul {
	display: flex;
	justify-content: space-around;
	background: #00cc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cc00, #008000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cc00, #008000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cc00, #008000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cc00, #008000); /* Standard syntax */
}

header nav li {
	display: inline;
	width: 100%;
	text-align: center;
}

header nav a {
	display: inline-block;
	color: #FFF;
	padding: 10px;
}

header nav li:hover {
	background: #008000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008000, #009900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008000, #009900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008000, #009900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008000, #009900); /* Standard syntax */
	cursor: pointer;
}

header nav a:hover {
	background: #008000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008000, #009900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008000, #009900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008000, #009900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008000, #009900); /* Standard syntax */
	cursor: pointer;
}

/* footer */

footer {
	margin-top: 20px;
	height: 150px;
	background: #008000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008000, #009900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008000, #009900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008000, #009900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008000, #009900); /* Standard syntax */
	cursor: pointer;
}

footer section {
	padding: 20px 20px 20px 20px;
}

footer h1 {
	color: #FFF;
	font-size: 25px;
	margin: 0 0 10px 0;
}

footer li {
	padding: 0 0 5px 0;
}

footer a {
	color: #FFF;
}


/*===== Elements ========================= */

.col-3 {
	width: 25%;
}

.col-6 {
	width: 50%;
}

.col-9 {
	width: 75%;
}

.jumbotron {
	display: flex;
	width: 100%;
	height: 300px;
}

.horizon_row {
	display: flex;
	justify-content: space-between;
}

.horizon_row .container {
	position: relative;
	height: 160px;
	width:  95%;
	overflow: hidden;
	padding-right: 20px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.horizon_row .container img{
	position: absolute;
	width: 100%;
}

.horizon_row article h2 {
	margin-bottom: 15px;
}

.horizon_row article h3 {
	font-size: 16px;
}

.horizon_row article p {
	padding: 0 10px 0 0;
}

.horizon_row article li {
	font-size: 15px;
}

.commodity_box {
	display: flex;
	justify-content: space-between;
	height: 200px;
	border: 1px solid #000;
	width: 100%;
	margin-top: 10px;
}

.commodity_img {
	background: url(http://lorempixel.com/250/200);
}

.intro_banner {
	margin-bottom: 25px;
}

.sidebar {
	width: 15%;
}

.flex_content {
	display: flex;
}

/*===== Styling pages ========================= */

/* index */
.game_list {
	margin: 0 0 25px 0;
}

.game_list h1 {
	margin: 5px 0 20px 0;
}

.dissappear_placeholder {
	opacity: 0.88;
}

.dissappear_placeholder:hover {
	opacity: 0;
}

/* computers */

.desktops ul{
	margin-top: 25px;
}

.computers_navlist {
	margin-top: 10px;
}

/* games */

/* shop */

.flexshop {
	display: flex;
	justify-content: space-between;
}

.shop_sidebar {
	width: 20%;
}

.shop_sidebar li { 
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 5px 0 5px 0;
	box-shadow: 0 1px 5px 1px rgb(63,60,60);
	margin: 5px 0 5px 0;
	background: #00cc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cc00, #008000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cc00, #008000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cc00, #008000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cc00, #008000); /* Standard syntax */
}

.shop_sidebar a {
	color: #FFF;
}

.shop_sidebar li:first-child {
	margin-top: 0;
}

.shop_sidebar li:last-child {
	margin-bottom: 0;
}

.shop_content {
	width: 75%;
}

.shop_banner img {
	width: 100%;
}

.shop_item {
	width: 100%;
	box-sizing: border-box;
}

.shop_description {
	width: 50%;
}

.shop_price {
	width: 15%;
}

/* reparatie */

.reparatie_paragraphs h1 {
	text-align: center;
	padding: 10px 0 50px 0;
}

.reparatie_paragraph h2 {
	border-bottom: 2px solid;
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
}

.reparatie_paragraph p {
	margin: 0 0 20px 0;
	padding: 0 0 0 10px;
}

.reparatie_paragraph ul {
	list-style: square;
	padding: 0 0 40px 50px;
}

/* informatie */

	.info_paragraphs h1 {
		text-align: center;
		padding: 10px 0 50px 0;
	}

	.info_paragraphs h2 {
		border-bottom: 2px solid #000000;
		margin: 0 0 10px 0;
		padding: 0 0 0 10px;
	}

	.info_paragraphs p {
		margin: 0 0 20px 0;
		padding: 0 0 0 10px;
	}

	.formgroup input, textarea {
		resize: none;
		border: 1px solid #000000;
		margin: 0 0 5px 10px;
		padding: 5px;
	}

	.locatie {
		margin: 20px 0 0 0;
	}

	iframe {
		box-shadow: 1px 1px 3px black;
		margin: 0 0 10px 0;
	}