/* Zet de default settings van de browser wat betreft margin,padding en border op 0 */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: arial;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* style header content */
.header_content {
	height: 100px;
	background: #E9FFC9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E9FFC9, #ABFF33); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E9FFC9, #ABFF33); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E9FFC9, #ABFF33); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E9FFC9, #ABFF33); /* Standard syntax */
}
.header_content img {
	height: 100px;
	width: 100px;
	padding: 0 0 0 5px;
	float: left;
}

.header_content p {
	padding: 25px 25px 25px 20px;
	font-size: 20px;
	color: gray;
	float: left;
}

/* style main navigation bar */
.main_nav ul {
	list-style: none;
	background: #00cc00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cc00, #008000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cc00, #008000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cc00, #008000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cc00, #008000); /* Standard syntax */
    padding: 0 0 0 10px;
}

.main_nav li {
	display: inline;
}

.main_nav a {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px;
}

.main_nav li:hover {
    cursor: pointer;
}

.main_nav a:hover {
	background: #008000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008000, #009900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008000, #009900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008000, #009900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008000, #009900); /* Standard syntax */
	cursor: pointer;
}

/*  */

/* style footer */
.footer {
	height: 150px;
	background: #008000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008000, #009900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008000, #009900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008000, #009900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008000, #009900); /* Standard syntax */
	cursor: pointer;
}
.footer_content {
	padding: 20px 20px 20px 20px;
}

.footer_content h1 {
	color: #FFFFFF;
	font-size: 25px;
	margin: 0 0 10px 0;
}

.footer_content ul {
	list-style: none;
}
.footer_content li {
	padding: 0 0 5px 0;
}
.footer_content a {
	color: #FFF;
	text-decoration: underline;
}